# [defaults]
# host_key_checking = False
# retry_files_enabled = False

# [ssh_connection]
# pipelining = True
# ssh_args = -o ControlMaster=auto -o ControlPersist=60s

[defaults]
host_key_checking = False

[galaxy]
server_list = automation_hub, galaxy

[galaxy_server.automation_hub]
url = https://console.redhat.com/api/automation-hub/content/published/
auth_url = https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
token = 98349b0fbbae5f1050e7458115fea48712773e03

[galaxy_server.galaxy]
url = https://galaxy.ansible.com/

[ssh_connection]
pipelining = True