[defaults]
host_key_checking = False
retry_files_enabled = False
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts
fact_caching_timeout = 3600

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s

[galaxy]
server_list = automation_hub_aap, automation_hub_redhat, galaxy

[galaxy_server.automation_hub_aap]
url = https://10.1.21.194/api/galaxy/content/published/
token = abce30bf7a6dfb2ab2881eeca451cb05285d4a4e

[galaxy_server.automation_hub_redhat]
url = https://console.redhat.com/api/automation-hub/content/published/
auth_url = https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
token = eyJhbGciOiJIUzUxMiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI0NzQzYTkzMC03YmJiLTRkZGQtOTgzMS00ODcxNGRlZDc0YjUifQ.eyJpYXQiOjE3Njg0MzE4NjksImp0aSI6IjdiYmJjMDA3LTQ1ZTYtNDI4NS04NzY3LWE2MDUxYmUwYTBmNCIsImlzcyI6Imh0dHBzOi8vc3NvLnJlZGhhdC5jb20vYXV0aC9yZWFsbXMvcmVkaGF0LWV4dGVybmFsIiwiYXVkIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJzdWIiOiI1ODgyMTkwNiIsInR5cCI6Ik9mZmxpbmUiLCJhenAiOiJjbG91ZC1zZXJ2aWNlcyIsIm5vbmNlIjoiZmRmNjIxMzEtNmNhYi00YmQ3LTgxY2UtYjYwMzMwMzBlZWZiIiwic2lkIjoiMjM2Y2EzNTctYWVmOC00OWMwLTljODgtYTY0NTgyYzMwN2ZlIiwic2NvcGUiOiJvcGVuaWQgYXBpLmNvbnNvbGUgYmFzaWMgcm9sZXMgd2ViLW9yaWdpbnMgY2xpZW50X3R5cGUucHJlX2tjMjUgYXBpLmFza19yZWRfaGF0IG9mZmxpbmVfYWNjZXNzIn0.hgJRvh3YHpi_kMJ4laO0LIRu9xThyag5IXzPx9T4lLIEQgfd4ktz9xRfG9k2yT4mM_BtBDtjmva7HJML00Iz4Q

[galaxy_server.galaxy]
url = https://galaxy.ansible.com/
